
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
env/
venv/

# Flask instance folder
instance/

# Uploaded files and temporary storage
uploads/
*.h5

# macOS system files
.DS_Store

# VS Code settings
.vscode/

# Log files
*.log
